body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:765px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:37px;
  width:320px;
  height:568px;
  font-size:18px;
  color:#999999;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:277px;
  width:13px;
  height:19px;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:18px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:37px;
  width:320px;
  height:18px;
  opacity:0.75;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:562px;
  width:320px;
  height:43px;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:64px;
  width:12px;
  height:21px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:570px;
  width:98px;
  height:28px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u1431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:507px;
  width:320px;
  height:43px;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:517px;
  width:98px;
  height:28px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u1435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:465px;
  width:320px;
  height:43px;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:423px;
  width:320px;
  height:43px;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:474px;
  width:105px;
  height:28px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u1441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:431px;
  width:98px;
  height:28px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u1443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:37px;
  width:320px;
  height:568px;
  font-size:18px;
  color:#999999;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
}
#u1445 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:277px;
  width:13px;
  height:19px;
}
#u1446 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:18px;
}
#u1447 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:37px;
  width:320px;
  height:18px;
  opacity:0.75;
}
#u1448 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1449 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:534px;
  width:320px;
  height:71px;
}
#u1450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1451 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:539px;
  width:106px;
  height:32px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u1453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1453 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:570px;
  width:203px;
  height:28px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1454 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:199px;
  word-wrap:break-word;
}
#u1455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u1455 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:545px;
  width:53px;
  height:53px;
}
#u1456 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1457 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:557px;
  width:17px;
  height:17px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1458 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1459 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:575px;
  width:29px;
  height:15px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u1461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u1461 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:64px;
  width:12px;
  height:21px;
}
#u1462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
