body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:512px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7650 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:320px;
  height:568px;
}
#u7651 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u7652 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:91px;
  width:74px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u7653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u7654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7655 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:290px;
  width:270px;
  height:30px;
}
#u7655_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u7656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7656 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:294px;
  width:20px;
  height:20px;
}
#u7657 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u7658 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:298px;
  width:40px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u7659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7661 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:332px;
  width:270px;
  height:30px;
}
#u7661_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u7662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u7662 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:341px;
  width:51px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u7663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u7664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7664 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:341px;
  width:16px;
  height:16px;
}
#u7665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7666 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:402px;
  width:273px;
  height:38px;
}
#u7667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:269px;
  word-wrap:break-word;
}
#u7668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7668 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:140px;
  width:100px;
  height:100px;
  color:#666666;
}
#u7669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u7670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u7670 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:367px;
  width:169px;
  height:16px;
  color:#CCCCCC;
}
#u7671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u7672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7672 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:320px;
  height:568px;
  opacity:0.5;
}
#u7673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7674 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:294px;
  width:114px;
  height:47px;
  font-size:14px;
}
#u7675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u7676_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:83px;
  height:19px;
}
#u7676p000 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-2px;
  width:76px;
  height:4px;
}
#u7676p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:6px;
}
#u7676p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7676p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u7676p002 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:0px;
  width:3px;
  height:2px;
}
#u7676p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:4px;
  height:4px;
}
#u7676.compound {
  width:0px;
  height:0px;
}
#u7676 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:305px;
  width:73px;
  height:1px;
}
#u7677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u7678 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:262px;
  width:200px;
  height:100px;
  line-height:20px;
}
#u7679 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:196px;
  word-wrap:break-word;
}
#u7680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u7680 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:88px;
  width:28px;
  height:25px;
  opacity:0.699999988079071;
  font-size:18px;
}
#u7681 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u7682 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:320px;
  height:20px;
  opacity:0.75;
  font-size:14px;
  color:#1E1E1E;
}
#u7683 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
